.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding: 2rem;
  text-align: center;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  overflow-x: hidden;
  overflow: visible;
}

.searchBar {
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--cr-bg-secondary);
  border: 1px solid var(--cr-border-contrast); /* !!!!! Doesn't follow color section */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.searchBar input[type=search] {
  margin-left: 0.5em;
  background-color: var(--cr-bg-secondary);
  color: var(--cr-text-secondary);
  border: none;
  flex-grow: 4;
}
.searchBar input[type=search]:focus {
  outline: none;
}