button {
  background-color: var(--cr-primary-white);
  color: var(--cr-primary-black);
  border: 1px solid var(--cr-light-black);
  border-radius: 1rem;
  margin: 0.5rem;
  display: inline;
}

button:hover, button.active {
  background-color: var(--cr-shaded-white);
  transform: translateY(-1px);
}

button:active {
  background-color: var(--cr-primary-white);
  transform: translateY(0);
}

.searchBox {
  width: 80%;
  margin: 1rem 1rem 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.searchBar {
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--cr-shaded-white);
  border: 1px solid var(--cr-light-black);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.searchBar input[type=search] {
  margin-left: 0.5em;
  background-color: var(--cr-shaded-white);
  color: var(--cr-primary-black);
  border: none;
  outline: none;
  flex-grow: 4;
}

button.hidden, .searchBar.hidden, .chartContainer.hidden {
  display: none;
}

.chartContainer {
  width: 100%;
  height: 6rem;
  background-color: var(--cr-primary-white);
  margin-bottom: 2rem;
}

.searchButton {
  padding: 1rem;
  border-radius: 1.5rem;
  margin: 0em;
}

.advancedMenu {
  width: 100%;
  display: none;
}

.advancedMenu.open {
  display: flex;
  flex-direction: column;
}

.spaceTogether {
  align-self: start;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
}

.conjuctionButton {
  border-radius: 10%;
  margin: 1rem 0.5rem;
}

.menuButton {
  margin: 1rem;
  border-radius: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 0.5em;
}

.newsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
}

.articleCard {
  width: 100%;
  margin: 0.5rem;
  padding: 1rem 2rem;
  background-color: var(--cr-shaded-white);
  color: var(--cr-primary-black);
  text-decoration: none;
  border: 1px solid var(--cr-light-black);
  box-shadow: 0.5em 0.5em var(--cr-light-black);
}

.spaceBetween {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
