* {
  /* include padding and border in total width/height calculations by default */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --cr-bg-primary: rgba(255, 255, 255);
  --cr-text-primary: rgb(0, 0, 0);
  --cr-primary-hover: rgba(185, 150, 211, 0.8);
  --cr-primary-hover-select: rgba(88, 226, 125, 0.7);
  --cr-border-primary: rgba(48, 47, 48, 0.812);

  --cr-bg-secondary: rgb(245, 245, 245);
  --cr-text-secondary: rgb(0, 0, 0);
  --cr-secondary-hover: rgb(255, 255, 255);
  --cr-secondary-hover-select: rgb(245, 245, 245);
  --cr-border-secondary: rgba(245, 245, 245, 0.9);
  
  --cr-bg-contrast: rgb(0, 0, 0);
  --cr-text-contrast: rgb(255, 255, 255);
  --cr-contrast-hover: rgb(174, 174, 174);
  --cr-border-contrast: rgba(48, 47, 48, 0.812);
  
  
  --cr-primary-white: rgb(255, 255, 255);
  --cr-tinged-white: rgb(174, 174, 174);  /* can tinge/mix any color appropriate, currently tinged with gray/black */
  --cr-primary-black: rgb(0, 0, 0);
  --cr-light-black: rgb(48, 47, 48, 0.812);  
  
  --cr-accent: rgb(114, 143, 196);
  --header-height: 4rem;
  --sideBar-width: 19rem;
  
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
  font-size: 16px;
}

#root {
  color: var(--cr-text-primary);
  background-color: var(--cr-bg-secondary);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  min-height: 100lvh;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  padding: 0.5rem 1rem;
  display: inline-block;
  appearance: none;
  user-select: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.25rem;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}
